/* =================== RESETAR PAG ================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ============================= variáveis ========================= */
:root {
  --body-color: hsl(0, 0%, 9%, 1);
  --body-color-alt: hsl(0, 0%, 7%, 1);
  --title-color: hsl(0, 0%, 98%, 1);
  --highlight-color: hsl(270, 83%, 55%, 1);
  --highlight-color-alt: hsl(270, 83%, 65%, 1);
  --text-color: hsla(0, 0%, 95%, 1);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* ================================== base ===================================== */

html {
  scroll-behavior: smooth;
}

header {
  z-index: 100;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

/* ================================ LAYOUT ========================================= */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: calc(3rem + 1vh) 0;
}

.button {
  background-color: var(--highlight-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--highlight-color-alt);
}

.grid {
  display: grid;
  gap: 2rem;
}

.text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

.subtitle {
  font: 500 1rem "DM Sans", sans-serif;
  color: #9e9e9e;
}

/* =================================== NAV ========================================= */

header {
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--body-color-alt);
  height: 5vh;
  width: 100vw;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list li a {
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: var(--highlight-color-alt);
}
.logo {
  font-size: 1.5rem;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #f2f2f2;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    background-color: var(--body-color-alt);
    top: 4vh; /* 2.5rem */ /* 8vh */ /* TIVE QUE MUDAR POIS PRECISAVA SE AJUSTAR DE ACORDO COM A WIDTH QUE EU PUS NA HEADER */ /* 4vh pois na header o top é de 5vh */
    right: 0;
    width: 100vw;
    height: 100vh; /* 100vh */ /* 92vh */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .nav-list li a,
  .logo {
    font-size: var(--title-font-size);
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

/* ================================ HOME ======================================= */

#home {
  padding-top: 5rem;
}

#home .container {
  margin: 0;
}

#home .text h2 {
  color: var(--highlight-color);
}

#home .icons {
  grid-auto-flow: column;
  width: fit-content;
  margin-top: 2.125rem;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#home .icons a {
  color: var(--highlight-color);
  transition: 0.3s;
}

#home .icons a:hover {
  transform: translateY(-8px);
  color: var(--text-color);
}

#home .button {
  margin-top: 4rem;
  font-size: 1.5rem;
}

.avatar {
  width: 13rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.avatar > img {
  width: 13.375rem;
  height: 13.375rem;
  object-fit: cover;

  clip-path: circle();
}

/* ============================ ABOUT ============================================= */
#home blockquote {
  position: relative;
  display: inline-block;
}
#home blockquote.html-color {
  border-bottom: 0.25rem solid hsl(13, 77%, 52%);
}

#home blockquote.css-color {
  border-bottom: 0.25rem solid hsl(205, 79%, 40%);
}

#home blockquote.javascript-color {
  border-bottom: 0.25rem solid hsl(53, 93%, 54%);
}

#home blockquote.react-color {
  border-bottom: 0.25rem solid hsl(193, 95%, 68%);
}

#home blockquote.python-color {
  border-bottom: 0.25rem solid hsl(207, 51%, 44%);
}

#home blockquote.django-color {
  border-bottom: 0.25rem solid hsl(0, 0%, 95%);
}

#home blockquote.flask-color {
  border-bottom: 0.25rem solid hsl(0, 0%, 95%);
}

#home blockquote i {
  font-size: 4rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0.625rem;
  top: -2.5rem;
  text-align: center;
}

/* ============================== EXPERIENCE/CARDS ========================== */

#experience h1.title {
  margin-bottom: 1rem;
}

#experience .titles {
  margin-bottom: 1.5rem;
}

.cards .grid {
  gap: 1.5rem;
}

.card {
  margin-top: 5rem;
  padding: 3.625rem 1rem;
  border-bottom: 0.25rem solid var(--highlight-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
  border-radius: 48px;
  background: linear-gradient(145deg, #191919, #151515);
  box-shadow: 17px 17px 34px #0d0d0d, -17px -17px 34px #212121;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}
.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.card h3.title {
  margin-bottom: 0;
}

/* Project */

/*============================ SWIPER  ============================*/

.swiper-container h1 {
  margin-bottom: 3rem;
  z-index: -5;
}

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
  border-radius: 10px;
  text-align: center;
}

.swiper-slide blockquote {
  padding: 2rem;
  border-radius: 48px;
  border-radius: 48px;
  background: linear-gradient(145deg, #191919, #151515);
  box-shadow: 5px 5px 10px #0d0d0d, -5px -5px 10px #212121;
}

#projects .swiper-slide p {
  margin-bottom: 2rem;
}

.swiper-slide a {
  color: var(--highlight-color);
  font-size: 1.25rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--text-color);
}
/* =========================== Education ========================== */
#education h1.title {
  margin-bottom: 4.3rem;
}
.exterior-line {
  border-radius: 10px;
  padding: 35px;
  border: 2px solid var(--highlight-color);
}
.education-card {
  margin: auto;
  margin-bottom: 4rem;
}

.education-card h1 {
  font-size: 1.5rem;
}

.education-card h2 {
  font-size: 1.125rem;
  color: var(--highlight-color);
}
.education-card p {
  font-weight: 300;
  margin-top: 2rem;
  color: var(--text-color);
}
.education-card p.subtitle {
  color: #9e9e9e;
}

/* ========================= FOOTER ===================================== */
footer {
  background-color: var(--highlight-color);
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

footer h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

footer a,
footer h2 {
  color: black;
}

footer .container a {
  font-size: 1.4rem;
  text-decoration: underline;
}

.social-grid {
  grid-auto-flow: column;
  width: fit-content;
  gap: 1.2rem;
}
.social-grid a i {
  display: inline-block;
  font-size: 1.3rem;
  transition: 0.4s;
  color: var(--body-color-alt);
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}
.social-grid a i:hover {
  transform: translateY(-8px);
  color: var(--text-color);
}

/* ================================== BACK TO TOP ============================================ */

.back-to-top {
  background: var(--highlight-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(
    100%
  ); /* transform para mexer os 2 transform se conectam */
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(
    0
  ); /* transform para mexer os 2 transform se conectam */
}

/* Responsive */
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* Layout */
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  /* HOME */
  #home .container.grid {
    display: flex;
    margin: 5rem 4rem;
    text-align: right;
  }

  #home .text .button {
    margin-top: 1.5rem;
  }

  #home .about-me {
    margin: auto;
  }

  /* Experience */

  #experience .cards {
    display: flex;
    justify-content: center;
  }

  /* Projects */
  .swiper-container {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  /* Education */
  #education div.education-cards {
    display: flex;
    gap: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

/* large devices: 1023 > */
@media (min-width: 1023px) {
  /* HOME */
  #home .container.grid {
    display: flex;
    margin: 5rem 4rem;
    text-align: right;
  }

  #home .text .button {
    margin-top: 1.5rem;
  }

  #home .about-me {
    margin: auto;
  }
}

/* large devices: 992 > */
/* medium devices: 767 > */
@media (min-width: 767px) {
  .cards,
  .education-cards {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  p {
    font-size: 1rem;
  }

  .about-me {
    margin-bottom: 2rem;
  }
}
